[submodule "Lab4"]
	path = Lab4
	url = https://github.com/jaresinunez/Lab4.git
[submodule "Lab4Pt2"]
	path = Lab4Pt2
	url = https://github.com/jaresinunez/Lab4Pt2.git
[submodule "Lab4Pt3"]
	path = Lab4Pt3
	url = https://github.com/jaresinunez/Lab4Pt3.git
[submodule "CodepathLab3"]
	path = CodepathLab3
	url = https://github.com/jaresinunez/CodepathLab3.git
[submodule "BitFitPt1"]
	path = BitFitPt1
	url = https://github.com/jaresinunez/BitFitPt1.git
[submodule "BitFitPt2"]
	path = BitFitPt2
	url = https://github.com/jaresinunez/BitFitPt2.git
